/* h1{
    text-shadow: 10px 10px 10px rgb(222, 46, 46);
    text-align: center;
}

#box1{
    width: 100px;
    height: 100px;
    background-color: rgb(195, 223, 223);
    box-shadow: 10px 10px 10px;
} */

/* h1{
    border: 10px dotted orange;
} */


/* body{
    margin: 0px;
}

.box{
    border: 5px dashed;
    font-size: 5em;
    width: 250px;
    height: 250px;
}
#box1{
    background-color: brown;
    margin-bottom: 50px;
    margin-left: 50px;

}
#box2{
    background-color: darkcyan;
    margin-left: auto;
    border: 10px ridge ;
    box-shadow: 10px 10px 10px;
} */

/* body{
    border: 3px solid;
    display: flow-root;
}
#img1{
    float: right;
    margin-left: 20px;
}

#img2{
    float: left;
    margin-right: 20px;
} */

/* div{
    border: 2px solid;
    height: 75px;
    overflow: scroll;
} */

/* div{
    background-color: rebeccapurple;
    width: 100px;
    height: 100px;
    display: inline-block;
    visibility: hidden;
}

span{
    background-color: aqua;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
} */

/* *{
     box-sizing: border-box;
}
.container{
    background-color: red;
    height: 100vh;
}

.box{
    border: 2px solid;
    padding: 25px;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;

    max-width: 100%;
    min-height: 50%;
} */

/* #box1{
    background-color: palevioletred;
    width: 200px;
    height: 200px;
    position: fixed;
}
#box2{
    background-color: orangered;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 50px;
} */

/* body{
    background-image: url(images/highres.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */

/* #container{
    border: 5px solid black;
}

#container ~ p{
    background-color: green;
} */

/* #btn{
    background-color: aqua;
}

#btn:hover{
    font-size: 2rem;
    background-color: orangered;
}

#btn:active{
    background-color: yellow;
} */

/* a:link{
    font-size: 1.1em;
    color: black;
}
a:hover{
    color: green;
    font-size: 10em;
}
/* a:visited{
    color: red;
} */

/* li:hover{
    background-color: yellow;
}
li{
    list-style-type: none;
}

li:not(:hover){
    background-color: pink;
}

li:nth-child(odd){
    background-color: orange;
} */
/*
body{
    background-image: url(images/nyc.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#head{
    border: 2px solid black;
    background-color: aqua;
}
#head:hover{
    background-color: red;
}
#site{
    color: black;
    text-decoration: none;
    font-weight: 900;

}
#site:visited{
    background-color: red;
} */

/* h1::first-letter{
    font-size: 5em;
    font-style: italic;
}

p::first-line{
    background-color: purple;
}
p::selection{
    color:gold;
    background-color: green;
}
#fruits li::before{
    content: "✨";
}

#fruits li::marker{
    content: ✅;
    color: purple;
}
#oranges ::after{
    content: 🍏;
} */

/* .pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}

.pagination a.active{
    background-color: green;
    font-weight: 600;
    border-radius: 10px;
}

.pagination a:hover:not(.active){
    background-color: purple;
    border-radius: 10px;
}
 */

/* *{
    box-sizing: border-box;
}

body{
    margin: 0px;
}


 header{
    background-color: purple;
    text-align: center;
    padding: 25px;
 }

 .nav-bar{
    background-color: gray;
    height: 50px;
 }

 aside{
    width: 20%;
    float: left;
    padding: 10px;
 }

 section{
    width: 40%;
    float: left;
    padding: 10px;

 }

 article{
    float: left;
    width: 40%;
    padding: 10px;

}

footer{
    display: block;
    clear: both;
    background-color: purple;
    text-align: center;
    padding: 25px;
 }

@media screen and (max-width: 600px){
    aside, section, article{
        width: 100%;
    }
} */

/*
body{
    margin: 0px;
    background-image: url(images/nyc.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

*{
    box-sizing: border-box;
}

header{
    background-color: grey;
    height: 80px;
    text-align: center;
    padding-top: 5px;
}

.nav-bar{
    background-color: blueviolet;
    height: 40px;
    margin-top: 10px;
    text-align: center;
    padding-top: 10px;
}

.nav-bar button{
    background-color: aqua;
}

.nav-bar a:hover{
    font-size: 1.1rem;
    font-weight: 700;
}

aside{
    width: 20%;
    float: left;
    padding: 5px;
}

section{
    width: 40%;
    float: left;
    padding: 5px;

}

article{
    width: 40%;
    float: left;
    padding: 5px;

}

footer{
    margin-top: 20px;
    background-color: grey;
    clear: both;
    text-align: center;
    height: 80px;
    padding-top: 5px;
}

@media screen and (max-width: 600px){
    aside, section, article{
        width: 100%;
    }
} */

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px;
}

.box{
    width: 100px;
    height: 100px;
    padding: 20px;
    font-size: 2em;
    text-align: center;
    border-radius: 10px;
}

#box1{
    background-color: rgb(209, 209, 5);
}

#box2{
    background-color: palegreen;
}

#box3{
    background-color: brown;
}

#box4{
    background-color: cyan;
}